@import "../styles/toolbarStyle.css";
@import "../styles/formStyle.css";
@import "../styles/mainStyle.css";
@import "../styles/workoutStyle.css";
@import "../styles/selectStyle.css";
@import "../styles/countdownStyle.css";
@import "../styles/progressStyle.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    /*--primary-blue: #4AE4C5;
    --secondary-blue: #145f50;
    --primary-black: #393939;
    --secondary-black: #898b8b;*/
    --primary-blue: #06374d;
    --secondary-blue: #6a6a6a;
    --primary-black: #f7f7f7;
    --secondary-black: #dedede ;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: white;
}

/* Custom Scrollbar, yeah */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary-blue);
    border-radius: 5px;
    margin: 2vh 0;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--secondary-blue);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--primary-blue);
}