#sidebarsDiv {
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
}

.headline {
    font-family: 'Bebas Neue', cursive;
    color: var(--secondary-black);
}

#content {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
}