#nameAndTime {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#countdownRenderer {
    color: var(--primary-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

#stepName {
    font-size: 4rem;
}

#numberCountDown {
    font-size: 10rem;
}