#registerTop, #loginTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 5vh;
    background-color: var(--primary-blue);
    border-radius: 5px;
}

#positionRegisterMiddle, #positionLoginMiddle {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#customUpload {
    width: 100%;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
}

input[type="file"] {
    display: none;
}

.formInput {
    height: 5ch;
    border: none;
    background-color: var(--primary-black);
    color: white;
    margin-bottom: 4vh;
}

#registerTag, #loginTag {
    color: var(--secondary-black);
    margin-bottom: 5vh;
}

.spaceBetweenFields {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-gap: 10px;
    padding-bottom: 10px;
}

.bebas {
    font-family: 'Bebas Neue', cursive;
}

.registerField {
    width: 100%;
}

.loginRegisterButton {
    width: 100%;
}

#registerHereWrapper {
    margin-left: auto;
    color: var(--secondary-black);
}

#registerHere {
    text-decoration: underline;
    cursor: pointer;
}