#registerTop, #loginTop{
    display: flex;
    flex-direction: column;
    width: 20vw;
    padding: 5vh;
    background-color: var(--primary-blue);
    border-radius: 20px;
}

#positionRegisterMiddle, #positionLoginMiddle {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formInput {
    height: 5ch;
    border: none;
    background-color: var(--primary-black);
    color: white;
    margin-bottom: 4vh;
}

#registerTag {
    margin-bottom: 7vh;
}

.bebas {
    font-family: 'Bebas Neue', cursive;
}