#sidebarsDiv {
    height: 95vh;
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
}

#cameraBar {
    margin: 2vh;
    padding: 1vh;
    width: 20vw;
    height: auto;
    border-radius: 5px;
    background-color: var(--primary-black);
    border: var(--primary-blue) 2px solid;
}

.headline {
    font-family: 'Bebas Neue', cursive;
}

#content {
    margin: 2vh;
    width: 60vw;
    height: auto;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    grid-gap: 2vh;
}

#infoBlock {
    padding: 1vh;
    border-radius: 5px;
    height: 100%;
    background-color: var(--primary-black);
    border: var(--primary-blue) solid 2px;
}

#cardDiv {
    border-radius: 5px;
    margin: 2vh;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: auto;
    background-color: var(--primary-black);
    overflow-y: scroll;
    border: var(--primary-blue) 2px solid;
}

#woName {
    color: var(--primary-blue);
    font-size: 2rem;
}

.routineCard {
    margin: 1vh;
    padding: 2vh;
    width: auto;
    background-color: var(--secondary-black);
    color: var(--primary-blue);
    border-radius: 5px;
}

.routineCardName {
    font-size: 2.5rem;
    margin: 0;
}

.routineCardTime {
    font-size: 1.5rem;
}

#placeButtonId {
    position: absolute;
    margin: 3vh;
    bottom: 6.7vh;
    right: 0;
}