#progress {
    border-radius: 5px;
    height: 5vh;
    width: 100%;
    background-color: transparent;
    border: 2px solid var(--primary-blue);
}

#progressing {
    background-color: var(--primary-blue)
}
