.draggableDiv {
    padding-left: 3ch;
    padding-right: 3ch;
    background: var(--primary-blue);
    width: auto;
    height: 6ch;
    display: flex;
    flex-direction: row;
    grid-gap: 4rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

#topWrapper {
    background: var(--secondary-black);
    width: 100%;
    height: 70vh;
    overflow-y: hidden;
    border-radius: 5px;
}

.workoutInput {
    background: var(--secondary-black);
    border: none;
    height: 3ch;
    width: auto;
    border-radius: 5px;
}

.listSteps {
    margin: 0;
    color: var(--primary-black);
    font-size: 1.2rem;
}

#centerCreate {
    top: 10vh;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
}

#overallTime {
    font-size: 1.2rem;
    color: var(--primary-blue);
}

#handles {
    display: flex;
    flex-direction: row;
    grid-gap: 2ch;
}

#deleteHandles {
    cursor: pointer;
}